body {
  background: white;
}
/* header */

header {
  display: flex;
  position: sticky;
  width: 100%;
  height: 120px;
  background: white;
}

.header {
  display: flex;
  width: 100%;
  height: 30%;
}

ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.nav-item {
  border: 1px dotted #efefef;
}

.nav {
  width:80%;
  display: flex;
  position : absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  padding: 80px;
  margin-right: 100px;
  
}
.nav .nav-item {
  background: white;
}

.nav a {
  display: flex;
}

.nav a:hover .intro {
  display: block;
}

.nav a div {
  position: relative;
}

.intro {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  list-style: none;
  margin-left: -70px;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
  width: 200px;
  z-index: 10;
}

.nav-item{
  color: black;
}

.nav-item a:hover .dropdown-item {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  list-style: none;
  margin-left: -70px;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
  width: 200px;
  z-index: 10;
}

/* container */

.container {
  width: 100%;
  height: 100%;
}

.news {
  width: 100%;
  height: 800px;
  align-items: center;
  background: white;
  box-sizing: border-box;
}

.left-item {
  width:48.5%;
  height: 45%;
  margin: 10px 10px 10px 10px;
  background: #f2f3f5;
  border: solid black 1px;
  float: left;
}

.left-item2 {
  width: 48.5%;
  height: 45%;
  margin: 10px 10px 10px 10px;
  background: #f2f3f5;
  border: solid black 1px;
  float: left;
}

.right-item {
  width: 99%;
  height: 45%;
  margin: 10px 10px 10px 10px;
  background: #f2f3f5;
  border: solid black 1px;
  float: left;
}

.banner {
  width: 100%;
  height: 100px;
  border: solid black 1px;
}


/* footer */

footer {
  margin: top 10px;
  background-color: #f2f3f5;
  padding: 32px 0 48px 0;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot img {
  margin-right: 13px;

}

.foot-txt1 {
  display: flex;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

.ft {
  margin: 0px 10px;
}

.foot-txt1 a:hover {
  color: blue;
}